[user]
    name = Lixquid
    email = lixquid@lixquid.com

# Resolve all references to my git DNS to instead point to my github
[url "https://github.com/lixquid"]
    insteadOf = "https://git.lixquid.com"

[alias]
    # Amends the previous commit, staging everything if nothing is staged
    amend = "!if [[ -z $(git diff --staged --name-only) ]]; then git add -A; fi; git status -sb && commit --no-edit --amend"

    # Condensed commit history graph
    l = "log --all --color --graph --pretty=tformat:'%C(bold yellow)%h %C(reset)%C(yellow)%cr %C(reset)%<(40,trunc)%s %C(bold blue)[%cn] %C(reset)%C(red)%d'"

    # Outputs the full details of the last commit
    last = "log -1 --format=fuller"

    # Force pushes the current branch using the (slightly) safer force-with-lease option
    pushf = "push --force-with-lease"

    # Condensed status list
    st = status -sb

    # Switches to the last worked on LOCAL branch matching the given text
    # Argument 1: The branch name to search for
    sw = "!f(){ git checkout $(git for-each-ref refs/heads --format='%(refname:short)' --sort='-committerdate' | grep -m1 \"$1\" ); }; f"

    # Switches to the last worked on REMOTE branch matching the given text
    # Argument 1: The branch name to search for
    # Argument 2: The remote to look for. Defaults to "origin".
    swr = "!f(){ originbranch=$(git for-each-ref refs/remotes/${2:-origin} --format='%(refname:short)' --sort='-committerdate' | grep -m1 \"$1\" ); git checkout ${originbranch#*/}; }; f"
